body {
  font-family: 'Lato', sans-serif;
}
.container {
  max-width: 980px;
}
p {
  font-weight: 300;
}
p.landing-jumbo {
  font-size: 1.25rem;
}
h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
a {
  color: #0000ff;
}
.btn-secondary {
  color: #0000ff;
  border-color: #0000ff;
  cursor: pointer;
}
.btn-secondary:hover {
  color: white;
  border-color: #0000ff;
  background-color: #0000ff;
}
