.container {
  max-width: 980px;
}
p {
  font-size: 1.25rem;
  font-weight: 200;
}
h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
a {
  color: #0000ff;
}
.btn-secondary {
  color: #0000ff;
  border-color: #0000ff;
}
.btn-secondary:hover {
  color: white;
  border-color: #0000ff;
  background-color: #0000ff;
}
